.parte7{
    width: 100%;
    height: 870px;
    display: block;
    text-align: center;
    background: #003083
}

.parte7 h2{
    color: #F98A09;
    padding-top: 30px;
    padding-bottom: 30px;
}

.parte7 p{
    font-size: 30px;
    text-align: center;
    color: white;
    padding-bottom: 30px;
}